* {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(180, 173, 173);
}

.made4it-logo {
	width: 200px;
	margin-top: 8px;
}

.client-manager-text {
	font-size: 50px;
	font-family: verdana, sans-serif;
}

.customers-select {
	width: 200px;
}

.delete-button , .edit-button {
	width: 25px;
}

.delete-button:hover , .edit-button:hover {
	filter: saturate(200%);
	transform: scale(1.1);
	cursor: pointer;
}

.button-section {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.client-manager-container {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 20px;
}

.client-manager {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	border: 2px solid black;
	box-shadow: 4px 4px 5px grey;
	margin-left: 30px;
	margin-top: 30px;
}

h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.gender-input {
	width: 220px;
	height: 20px;
	margin-top: 30px;
	margin-left: 30px;
}

.text-inputs {
	width: 270px;
}

.client-infos {
	position: relative;
	width: 600px;
	height: 360px;
	border: 2px solid black;
	box-shadow: 4px 4px 5px grey;
	margin-left: 30px;
	margin-top: 30px;
}

.client-inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	width: 600px;
	margin-left: 15px;
}

.client-edit-text {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	background: rgb(206, 202, 202);
}

.client-list {
	width: 300px;
}

.save-input {
	position: absolute;
	width: 80px;
	right: 50px;
	margin-top: 10px;
}